In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("datasets/data.csv")

In [5]:
df.head()

,id,title,type,genres,averageRating,numVotes,releaseYear
0,tt0000009,Miss Jerry,movie,Romance,5.4,215.0,1894.0
1,tt0000147,The Corbett-Fitzsimmons Fight,movie,"Documentary, News, Sport",5.2,539.0,1897.0
2,tt0000502,Bohemios,movie,NaN,4.4,18.0,1905.0
3,tt0000574,The Story of the Kelly Gang,movie,"Action, Adventure, Biography",6.0,941.0,1906.0
4,tt0000591,The Prodigal Son,movie,Drama,5.7,28.0,1907.0

In [6]:
df.shape

(1031160, 7)

In [7]:
df.describe()

       averageRating      numVotes    releaseYear
count  440232.000000  4.402320e+05  902397.000000
mean        6.363075  3.045831e+03    1998.298651
std         1.431690  3.267483e+04      27.050583
min         1.000000  5.000000e+00    1894.000000
25%         5.500000  1.700000e+01    1986.000000
50%         6.500000  5.200000e+01    2010.000000
75%         7.400000  2.600000e+02    2018.000000
max        10.000000  2.967477e+06    2031.000000